
/* 
 * This file is reserved for your global style rules. 
 */

html, body {
  width: 100%; 
  height: 100%;
}

html {
    font-family: sans-serif;
    color: #333;
}

body {
    margin: 0; /* Remove default margin */
    font-size: 12px;
}


.load-more {
    opacity: 0.5;
    font-weight: bold;
    font-style: italic;
}